<div class="sidebar">
  <h2>Yönetim</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">İlanları Yönet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Üyeleri Yönet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Şikayetleri Yönet</a>
    </li>
  </ul>
</div>

<div class="content">


  <nav class="navbar bg-rea">
    <div class="container-fluid">
      <h1 class="navbar-brand text-white">Yönetici Bilgi Ekranı</h1>
      <div class="d-flex me-2">
        <button routerLink="/profile/ilanlarim" type="button" class="btn btn-warning me-2">Profilim</button>
        <button (click)="logout()" type="button" class="btn btn-danger">Çıkış</button>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div>
      <div>
      <h2>Üye Yönetimi</h2>
      <div class="d-flex col row">
        <div class="col-md-4">
          <div class="card text-white bg-rea mb-3">
            <div class="card-header">Toplam Üye Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.userCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-header">Aktif Üye Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.activeUserCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-danger mb-3">
            <div class="card-header">Deaktif Üye Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.passiveUserCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
      </div>
      <h5>Son Üyeler</h5>
      <div class="d-flex col row">

        <div routerLink="/profile/{{ user.id }}" class="col-md-3" *ngFor="let user of latestUsers">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img [src]="getUserImagePath(user)" class="img h-rea rounded-start ">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">{{user.firstName+" "+user.lastName}}</h5>
                  <p class="card-text"><small class="text-body-secondary">Profili Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr class="hr-rea">

    <div>
      <h2>İlan Yönetimi</h2>
      <div class="d-flex col row">
        <div class="col-md-4">
          <div class="card text-white bg-rea mb-3">
            <div class="card-header">Toplam İlan Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.listingCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-header">Aktif İlan Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.activeListingCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-danger mb-3">
            <div class="card-header">Deaktif İlan Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">{{this.passiveListingCount}}</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
      </div>
      <h5>Son İlanlar</h5>
      <div class="d-flex col row">
        
        <div routerLink="/landlisting/detail/{{ listing.id }}" class="col-md-3" *ngFor="let listing of latestListings">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img [src]="getListingImagePath(listing.imagePath)" class="img h-rea rounded-start">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">{{listing.title}}</h5>
                  <p class="card-text"><small class="text-body-secondary">İlanı Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

<hr class="hr-rea">

    <div>
      <h2>Şikayet Yönetimi</h2>
      <div class="d-flex col row">
        <div class="col-md-4">
          <div class="card text-white bg-rea mb-3">
            <div class="card-header">Toplam Şikayet Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">45</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3">
            <div class="card-header">Cevaplanmış Şikayet Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">30</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-danger mb-3">
            <div class="card-header">Cevaplanmamış Şikayet Sayısı</div>
            <div class="card-body d-flex col">
              <h5 class="card-title col-9">15</h5>
              <button type="button" class="btn btn-outline-light col">Görüntüle</button>
            </div>
          </div>
        </div>
      </div>

      <h5>Son Şikayetler</h5>
      <div class="d-flex col row">

        
        <div class="col-md-3">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img src="../../assets/img/home.jpg" class="img h-rea rounded-start">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Şikayet Başlığı |
                    summary:20</h5>
                  <p class="card-text"><small class="text-body-secondary">Şikayeti Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img src="../../assets/img/home.jpg" class="img h-rea rounded-start">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Şikayet Başlığı |
                    summary:20</h5>
                  <p class="card-text"><small class="text-body-secondary">Şikayeti Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img src="../../assets/img/home.jpg" class="img h-rea rounded-start">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Şikayet Başlığı |
                    summary:20</h5>
                  <p class="card-text"><small class="text-body-secondary">Şikayeti Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 ">
            <div class="row g-0 col h-rea">
              <div class="col-3">
                <img src="../../assets/img/home.jpg" class="img h-rea rounded-start">
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">Şikayet Başlığı |
                    summary:20</h5>
                  <p class="card-text"><small class="text-body-secondary">Şikayeti Görüntüle</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>