/* Genel stiller */


.sidebar {
    width: 200px;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    background-color: rgb(43, 48, 53);
    padding-top: 20px;
}

.sidebar h3 {
    color: rgb(255, 188, 0);
    text-align: center;
}

.sidebar .nav {
    display: block;
    width: 100%;
}

.sidebar .nav-item {
    width: 100%;
    color: #000;
}

.sidebar .nav-link {
    color: white;
    padding: 10px;
    text-align: left;
    display: block;
    transition: .5s;
}

.sidebar .nav-link:hover {
    color: #000;
    background-color: rgba(255, 187, 0);
}

.content {
    margin-left: 200px;
    padding: 20px;
}

.navbar {
    margin-bottom: 20px;
    border-radius: 10px;

}

.bg-rea {
    background-color: rgb(43, 48, 53);
}

.h-rea {
    object-fit: cover;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    height: 100%;
}

.hr-rea {
    opacity: .8;
    height: 5px;
    border-width: 0;
    color: rgb(43, 48, 53);
    background-color: rgb(43, 48, 53)
}