<div>
    <div class="container d-flex flex-wrap">
        <div id="carouselExampleRide" class="carousel slide slide-div mb-3" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item"  *ngFor="let image of images; let isFirst = first" [ngClass]="{ 'active': isFirst }">
                    <img [src]="image" class="d-block w-100 slide-style">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container d-flex flex-wrap slide-bottom-div" #imageContainer>
        <button (click)="previous()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-left"></i></button>

        <ng-container *ngFor="let image of visibleImages; let i = index">
            <img [src]="image" class="d-block border-end border-start slide-bottom" (click)="showImageInCarousel(i)">
        </ng-container>

        <button (click)="next()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    

</div>