<div class="container d-flex justify-content-center align-items-center" style="height: 73.5vh;">
    <div class="row justify-content-center align-items-center" style="background-color: rgb(43,48,53); border-radius: 50px;">
        <img src="../../../assets/img/signup.png" style="width: 450px; " alt="Görsel yüklenemedi ☹️">
        <form (submit)="register()" [formGroup]="registerForm" class="col-md-6">
            <div class="row mt-5 mb-4">
                <div class="col-md-12 mb-3">
                    <input formControlName="firstName" type="text" placeholder="Adınız :"  name="firstName"
                        class="form-control form-style border-0">
                </div>
                <div class="col-md-12 mb-3">
                    <input formControlName="lastName" type="text" placeholder="Soyadınız :"  name="lastName"
                        class="form-control form-style border-0">
                </div>
                <div class="col-md-12 mb-3">
                    <input formControlName="email" type="email" placeholder="E-posta :"  name="email"
                        class="form-control form-style border-0">
                </div>
                <div class="col-md-12 mb-3">
                    <input formControlName="password" type="password" placeholder="Şifreniz :" name="password"
                        class="form-control form-style border-0">
                </div>
                <div class="col-md-8 mb-3">
                    <div class="d-grid">
                        <input type="submit" value="Kayıt Ol" class="btn form-style">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="d-grid">
                        <input type="button" value="Giriş Yap" routerLink="/login" class="btn btn-secondary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
