<div class="container-xxl">
    <div class="row justify-content-center">
        <div>
            <div class="card text-bg-dark border-0 rounded-5">
                <img src="../../assets/img/1.jpg" class="card-img rounded-5" alt="..." style="filter: opacity(0.2);">
                <div class="card-img-overlay">
                    <img src="../../assets/img/reaEmlak.png" alt="" class="card-img">
                    <div class="position-absolute top-50 start-50 translate-middle" style="width: 80%;">
                        <div class="input-group mb-3 ">
                            <input [(ngModel)]="searchText" type="text" class="form-control input-lg"
                                placeholder="Hayalinde ki ev ve arsa bir adım uzağında"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button routerLink="/listing/searchText/{{searchText}}/page/1" class="btn btn-light btn-lg" type="button"
                                id="button-addon2"><i class="fa-solid fa-magnifying-glass fs-lg"></i></button>
                        </div>

                        <a routerLink="/houselisting/page/1">
                            <div class="position-absolute top-100 start-0" style="width: 25%;">
                                <div class="card text-bg-dark border-0 ">
                                    <img src="../../assets/img/home.jpg" class="card-img">
                                    <div class="card-img-overlay">
                                        <h2
                                            class="position-absolute top-50 start-50 translate-middle text-center div-text-rea">
                                            <strong>EV</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a routerLink="/listing/page/1">
                            <div class="position-absolute top-100 start-50 translate-middle-x" style="width: 25%;">
                                <div class="card text-bg-dark border-0 ">
                                    <img src="../../assets/img/homeAndLand.jpg" class="card-img">
                                    <div class="card-img-overlay">
                                        <h2
                                            class="position-absolute top-50 start-50 translate-middle text-center div-text-rea">
                                            <strong>Tüm <br>İlanlar</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a routerLink="/landlisting/page/1">
                            <div class="position-absolute top-100 end-0 " style="width: 25%;">
                                <div class="card text-bg-dark border-0 ">
                                    <img src="../../assets/img/land.jpg" class="card-img">
                                    <div class="card-img-overlay">
                                        <h2
                                            class="position-absolute top-50 start-50 translate-middle text-center div-text-rea">
                                            <strong>ARSA</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <h2 class="display-2 mt-5 mb-3 ">Son İlanlar</h2>
            <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let item of listings.slice(0,6); let i = index;">
                    <div routerLink="/listing/detail/{{ item.id }}">
                        <div class="card" style="min-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="getHouseListingImagePath(item.imagePath)"
                                        class="img-fluid rounded-start aspect-ratio-16x9"
                                        style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="min-height: 2rem; max-height: 2rem;">{{item.title | summary:30}}</h5>
                                        <p class="card-text" style="min-height: 3rem; max-height: 3rem;">{{item.description | summary:50}}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{item.date |
                                                date:'dd/MM/YYYY'}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="display-2 mt-5 mb-3 ">Son Ev İlanları</h2>
            <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let itemHouse of houseListings.slice(0,6); let i = index;">
                    <div routerLink="/houselisting/detail/{{ itemHouse.listingId }}">
                        <div class="card" style="min-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="getHouseListingImagePath(itemHouse.imagePath)"
                                        class="img-fluid rounded-start aspect-ratio-16x9"
                                        style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="min-height: 2rem; max-height: 2rem;">{{itemHouse.title | summary:30}}</h5>
                                        <p class="card-text" style="min-height: 3rem; max-height: 3rem;">{{itemHouse.description | summary:50}}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{itemHouse.date |
                                                date:'dd/MM/YYYY'}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="display-2 mt-5 mb-3 ">Son Arsa İlanları</h2>
            <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let itemLand of landListings.slice(0,6); let i = index;">
                    <div routerLink="/landlisting/detail/{{ itemLand.listingId }}">
                        <div class="card" style="min-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img [src]="getHouseListingImagePath(itemLand.imagePath)"
                                        class="img-fluid rounded-start aspect-ratio-16x9"
                                        style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title" style="min-height: 2rem; max-height: 2rem;">{{itemLand.title | summary:30}}</h5>
                                        <p class="card-text" style="min-height: 3rem; max-height: 3rem;">{{itemLand.description | summary:50}}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{itemLand.date |
                                                date:'dd/MM/YYYY'}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>