<div class="container col d-flex">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Filtrele
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="listingSorting" class="form-label">Sıralama</label>
                        <select class="form-select" [(ngModel)]="selectedSorting" (change)="setSorting()">,
                            <option value="date-1">Yeniden Eskiye</option>
                            <option value="date-0">Eskiden Yeniye</option>
                            <option value="price-0">Artan Fiyat</option>
                            <option value="price-1">Azalan Fiyat</option>
                            <option value="squareMeter-0">Artan Metrekare</option>
                            <option value="squareMeter-1">Azalan Metrekare</option>
                        </select>
                    </div>
                </div>
                <hr>
                <form (ngSubmit)="onSubmit()" (reset)="getLandListing()">
                    <div class="mb-3">
                        <label for="searchText" class="form-label">Arama Metni</label>
                        <input type="text" class="form-control" id="searchText" name="searchText"
                            [(ngModel)]="filterObject.searchText">
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="listingTypeName" class="form-label">İlan Türü</label>
                            <select class="form-select" id="listingTypeName" name="listingTypeName"
                                [(ngModel)]="filterObject.listingTypeId">
                                <option [ngValue]="undefined">Seçiniz</option>
                                <option  *ngFor="let listingType of listingTypes" value="{{listingType.id}}">{{listingType.listingTypeName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Şehir</label>
                        <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                            [(ngModel)]="filterObject.cityId">
                            <option [ngValue]="undefined">Şehir Seçin</option>
                            <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                        </select>

                        <label for="district" class="form-label">İlçe</label>
                        <select class="form-select" id="district" name="district"
                            [(ngModel)]="filterObject.districtId">
                            <option [ngValue]="undefined">İlçe Seçin</option>
                            <option *ngFor="let district of districts" [value]="district.id">{{
                                district.districtName }}</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="minPrice" class="form-label">Minimum Fiyat</label>
                            <input type="number" class="form-control" id="minPrice" name="minPrice" min="0"
                                [(ngModel)]="filterObject.minPrice">
                        </div>
                        <div class="col mb-3">
                            <label for="maxPrice" class="form-label">Maksimum Fiyat</label>
                            <input type="number" class="form-control" id="maxPrice" name="maxPrice" min="0"
                                [(ngModel)]="filterObject.maxPrice">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="minSquareMeter" class="form-label">Minimum Metrekare</label>
                            <input type="number" class="form-control" id="minSquareMeter" name="minSquareMeter" min="0"
                                [(ngModel)]="filterObject.minSquareMeter">
                        </div>
                        <div class="col mb-3">
                            <label for="maxSquareMeter" class="form-label">Maksimum Metrekare</label>
                            <input type="number" class="form-control" id="maxSquareMeter" name="maxSquareMeter" min="0"
                                [(ngModel)]="filterObject.maxSquareMeter">
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="row">
                            <div class="col mb-3 d-flex justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="floorEquivalen"
                                        name="floorEquivalen" [(ngModel)]="filterObject.floorEquivalen">
                                    <label class="form-check-label" for="floorEquivalen">
                                        Kat Karşılığı
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col d-grid"><button type="submit" class="btn btn-primary ">Filtrele</button></div>
                        <div class="col d-grid"><button type="reset" class="btn btn-primary">Sıfırla</button></div>


                    </div>

                </form>
            </div>
        </div>
    </div>
    
    <div class=" d-flex flex-wrap col-9">
        <div class="card d-flex flex-wrap mb-3 mx-2 rounded-bottom rounded-5 align-self-start" style="width: 19.2rem;"
            *ngFor="let item of landListing">
            <div routerLink="/landlisting/detail/{{ item.listingId }}">

                <div style="margin-bottom: -16px;">
                    <div *ngIf="item.listingTypeName=='Satılık'" class="pt-3 text-center sell-col rounded-bottom rounded-5 ">
                        <p>{{item.listingTypeName}}</p>
                    </div>
                    <div *ngIf="item.listingTypeName=='Kiralık'" class="pt-3 text-center rent-col rounded-bottom rounded-5" >
                        <p>{{item.listingTypeName}}</p>
                    </div>
                    <div *ngIf="item.listingTypeName !=='Kiralık' && item.listingTypeName!=='Satılık'"
                        class="pt-3 text-center bg-color rounded-bottom rounded-5">
                        <p>{{item.listingTypeName}}</p>
                    </div>
                </div>

                <img [src]="getLandListingImagePath(item)" class="card-img-top rounded-0 aspect-ratio-16x9"
                    alt="..." style="background-color: rgb(255,255,255);">
                <div class="card-body">
                    <h5 class="card-title text-sub" style="min-height: 3rem; max-height: 3rem;">{{item.title | summary:40 }}</h5>
                    <p class="card-text text-sub" style="min-height: 8rem;max-height: 8rem;">{{item.description | summary:120}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item bg-info bg-opacity-10 border border-info border border-1 border-end-0 border-start-0 text-center">
                        <h5>
                            {{item.squareMeter}}m²
                        </h5>
                    </li>
                    <li
                        class="list-group-item bg-info bg-opacity-10 border border-info border border-1 border-end-0 border-start-0 border-top-0 text-center">
                        <h5>
                            {{item.cityName}}
                            <small class="text-body-secondary">
                                - {{item.districtName}}
                            </small>
                        </h5>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-grid gap-2 col-15 mx-auto">
                        <button routerLink="/listings/detail/{{ item.listingTypeName }}/{{ item.id }}"
                            class="btn btn-info btn-lg" type="button">{{ item.price | priceFormat }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination justify-content-center ">
    <button class="btn page-btn ms-1" (click)="previousPage()">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <form class="ms-1" (ngSubmit)="setPageNumber(currentPage)"><input type="number" class="form-control set-page" id="pageNum" name="pageNum" [(ngModel)]="currentPage">
    </form>


    <button class="btn page-btn ms-1" (click)="nextPage()">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>