
  .alt {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(43,48,53);
    color: rgb(184, 184, 184);

  }
  
  .altsatir {
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-family: "Teko";
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .altsatir a {
    
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-family: "Teko";
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
  }

  .social {
    padding: 5px;
    transition: 0.5s;
    color: rgb(184, 184, 184);

  }
  .social:hover {
    padding: 5px;
    color: rgb(255,188,0);
  }