<div class="container-fluid alt position-static">
    <div class="altsatir" style="text-align: center;">
        <br />
        <a class="social" href="https://www.instagram.com/utku_genc/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="social" href="https://twitter.com/utkugenc0" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a class="social" href="https://www.youtube.com/@sden" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a class="social" href="https://www.linkedin.com/in/utku-genc/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a class="social" href="https://github.com/Utku-Genc" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a class="social" href="https://www.twitch.tv/utkugenc" target="_blank"><i class="fa-brands fa-twitch"></i></a>
        <a class="social" href="" target="_blank"><i class="fa-brands fa-discord"></i></a>

        <br>
        2024
        <br>
        REA Emlak tüm hakları saklıdır.
        <br>
        İletişim İçin: iletisim&#64;reaemlak.com
        <br>
        <a href="#" style="color: rgb(255,188,0);">reaemlak.com</a>
        <br>
    </div>
</div>
