<div class="container d-flex flex-wrap ">
<div class="card d-flex flex-wrap mb-3 mx-2" style="width: 18rem;" *ngFor="let item of listings">
    <img src="../../../assets/img/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" style="min-height: 3rem;">{{item.title | summary:50 }}</h5>
        <p class="card-text">{{item.description | summary:150}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{item.squareMeter}}</li>
        <li class="list-group-item">{{item.date | date:'dd/MM/YYYY'}}</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <div class="d-grid gap-2 col-15 mx-auto">
            <button routerLink="/listings/detail/{{ item.typeName }}/{{ item.id }}"
                    class="btn btn-info btn-lg" type="button">{{ item.price | priceFormat: 'TRY' }}</button>
        </div>
    </div>
</div>
</div>