<div class="container">
    <h2 class="mt-4">Yeni İlan Ekle</h2>
    <div class="mb-3">
        <label class="form-label">İlan Türü:</label>
        <div class="d-flex text-center">
            <div class="form-check col radio-btn me-3">
                <input class="form-check-input" type="radio" name="type" id="houseRadio" value="house"
                    [(ngModel)]="type" (change)="onTypeChange()">
                <label class="form-check-label" for="houseRadio">
                    <i class="fa-solid fa-house"></i> Ev 
                </label>
            </div>
            <div class="form-check col radio-btn ms-3">
                <input class="form-check-input" type="radio" name="type" id="landRadio" value="land" [(ngModel)]="type"
                    (change)="onTypeChange()">
                <label class="form-check-label" for="landRadio">
                    <i class="fa-solid fa-mountain-sun"></i> Arsa
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="house">

        <form (ngSubmit)="addHouseListingSubmit()" class="mt-4">
            <div class="mb-3">
                <label class="form-label">Fotoğraf Seç:</label>
                <input type="file" class="form-control " (change)="onFileSelectedHouse($event)" accept="image/*" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label">Başlık:</label>
                <input type="text" class="form-control" [(ngModel)]="addHouseListing.title" name="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Açıklama:</label>
                <textarea class="form-control" [(ngModel)]="addHouseListing.description" name="description"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Fiyat:</label>
                <input type="number" class="form-control" [(ngModel)]="addHouseListing.price" name="price" required>
            </div>
            <div class="row">

                <div class="col mb-3">
                    <label for="listingTypeName" class="form-label">İlan Türü</label>
                    <select class="form-select" id="listingTypeName" name="listingTypeName"
                        [(ngModel)]="addHouseListing.listingTypeId">
                        <option value="0">Seçiniz</option>
                        <option  *ngFor="let listingType of listingTypes" value="{{listingType.id}}">{{listingType.listingTypeName}}</option>
                    </select>
                </div>
                <div class="col mb-3">
                    <label for="typeId" class="form-label">Ev Türü</label>
                    <select class="form-select" id="typeId" name="typeId" [(ngModel)]="addHouseListing.typeId">
                        <option value="0">Seçiniz</option>
                        <option *ngFor="let houseType of houseTypes" value={{houseType.id}}>{{houseType.name}}</option>

                    </select>
                </div>
            </div>
            <div class="col d-flex">
                <div class="col mb-3 me-2">
                    <label for="city" class="form-label">Şehir</label>
                    <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                        [(ngModel)]="addHouseListing.cityId">
                        <option value="">Şehir Seçin</option>
                        <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                    </select>
                </div>
                <div class="col mb-3 ms-2">
                    <label for="district" class="form-label">İlçe</label>
                    <select class="form-select" id="district" name="district" [(ngModel)]="addHouseListing.districtId">
                        <option value=NULL>İlçe Seçin</option>
                        <option *ngFor="let district of districts" [value]="district.id">{{
                            district.districtName }}</option>
                    </select>
                </div>
            </div>

            <div class="col d-flex">
                <div class="col mb-3 me-2">
                    <label class="form-label">Oda Sayısı:</label>
                    <input type="number" class="form-control" [(ngModel)]="addHouseListing.roomCount" name="roomCount"
                        min="0" required>
                </div>
                <div class="col mb-3 ms-2 me-2">
                    <label class="form-label">Salon Sayısı:</label>
                    <input type="number" class="form-control" [(ngModel)]="addHouseListing.livingRoomCount"
                        name="livingRoomCount" min="0" required>
                </div>
                <div class="col mb-3 ms-2">
                    <label class="form-label">Banyo Sayısı:</label>
                    <input type="number" class="form-control" [(ngModel)]="addHouseListing.bathroomCount" min="0"
                        name="bathroomCount" required>
                </div>

            </div>
            <div class="col d-flex">
                <div class="col  me-2 mb-3">
                    <label class="form-label">Kat Sayısı:</label>
                    <input type="number" class="form-control" [(ngModel)]="addHouseListing.floorCount" name="floorCount"
                        min="0" required>
                </div>
                <div class="col ms-2  mb-3">
                    <label class="form-label">Bulunduğu Kat:</label>
                    <input type="number" class="form-control" [(ngModel)]="addHouseListing.currentFloor"
                        name="currentFloor" min="0" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Metrekare:</label>
                <input type="number" class="form-control" [(ngModel)]="addHouseListing.squareMeter" name="squareMeter"
                    min="0" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Bina Yaşı:</label>
                <input type="number" class="form-control" [(ngModel)]="addHouseListing.buildingAge" name="buildingAge"
                    min="0" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Adres:</label>
                <input type="text" class="form-control" [(ngModel)]="addHouseListing.address" name="address" required>
            </div>
            <div class="col d-flex justify-content-between">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.hasGarden"
                        name="hasGarden">
                    <label class="form-check-label">Bahçe</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.hasBalcony"
                        name="hasBalcony">
                    <label class="form-check-label">Balkon</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.hasElevator"
                        name="hasElevator">
                    <label class="form-check-label">Asansör</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.hasParking"
                        name="hasParking">
                    <label class="form-check-label">Otopark</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.hasFurniture"
                        name="hasFurniture">
                    <label class="form-check-label">Mobilya</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="addHouseListing.isInGatedCommunity"
                        name="isInGatedCommunity">
                    <label class="form-check-label">Site İçinde</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">İlanı Ekle</button>
        </form>
    </div>

    <div *ngIf="!house">
        <form (ngSubmit)="addLandListingSubmit()" class="mt-4">
            <div class="mb-3">
                <label class="form-label">Fotoğraf Seç:</label>
                <input type="file" class="form-control" (change)="onFileSelectedLand($event)" accept="image/*" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label">Başlık:</label>
                <input type="text" class="form-control" [(ngModel)]="addLandListing.title" name="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Açıklama:</label>
                <textarea class="form-control" [(ngModel)]="addLandListing.description" name="description"
                    required></textarea>
            </div>
            <div class="col d-flex">
                <div class="col mb-3 me-2">
                    <label for="listingTypeName" class="form-label">İlan Türü</label>
                    <select class="form-select" id="listingTypeName" name="listingTypeName"
                        [(ngModel)]="addLandListing.listingTypeId">
                        <option value="0">Seçiniz</option>
                        <option *ngFor="let listingType of listingTypes" value="{{listingType.id}}">{{listingType.listingTypeName}}</option>
                    </select>
                </div>
                <div class="col mb-3 ms-2">
                    <label class="form-label">Fiyat:</label>
                    <input type="number" class="form-control" [(ngModel)]="addLandListing.price" name="price" required>
                </div>
            </div>
            <div class="col d-flex">
                <div class="col mb-3 me-2">
                    <label for="city" class="form-label">Şehir</label>
                    <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                        [(ngModel)]="addLandListing.cityId">
                        <option value="">Şehir Seçin</option>
                        <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                    </select>
                </div>
                <div class="col mb-3 ms-2">
                    <label for="district" class="form-label">İlçe</label>
                    <select class="form-select" id="district" name="district" [(ngModel)]="addLandListing.districtId">
                        <option value=NULL>İlçe Seçin</option>
                        <option *ngFor="let district of districts" [value]="district.id">{{
                            district.districtName }}</option>
                    </select>
                </div>
            </div>
            <div class="col d-flex">
                <div class="col mb-3 me-2">
                    <label class="form-label">Parsel No:</label>
                    <input type="number" class="form-control" [(ngModel)]="addLandListing.parcelNo" name="roomCount"
                        min="0" required>
                </div>
                <div class="col mb-3 ms-2 me-2">
                    <label class="form-label">Ada No:</label>
                    <input type="number" class="form-control" [(ngModel)]="addLandListing.islandNo"
                        name="livingRoomCount" min="0" required>
                </div>
                <div class="col mb-3 ms-2">
                    <label class="form-label">Sheet No:</label>
                    <input type="number" class="form-control" [(ngModel)]="addLandListing.sheetNo" min="0"
                        name="bathroomCount" required>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label">Metrekare:</label>
                <input type="number" class="form-control" [(ngModel)]="addLandListing.squareMeter" name="squareMeter"
                    min="0" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Adres:</label>
                <input type="text" class="form-control" [(ngModel)]="addLandListing.address" name="address" required>
            </div>
            <button type="submit" class="btn btn-primary">İlanı Ekle</button>

        </form>
    </div>
</div>