<div class="sidebar">
    <h2>Yönetim</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Üyeleri Yönet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">İlanları Yönet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Şikayetleri Yönet</a>
        </li>
    </ul>
</div>



<div class="content">

    <nav class="navbar bg-rea">
        <div class="container-fluid">
            <h1 class="navbar-brand text-white">Üye Yönetim Ekranı</h1>
            <div class="d-flex me-2">
                <button routerLink="/profile/ilanlarim" type="button" class="btn btn-warning me-2">Profilim</button>
                <button (click)="logout()" type="button" class="btn btn-danger">Çıkış</button>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <nav class="navbar">
            <div class="container-fluid">
                <h1 class="navbar-brand text-white"></h1>
                <div class="d-flex me-2">
                    <button routerLink="/profile/ilanlarim" type="button" class="btn btn-warning me-2">Profilim</button>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Arama" aria-label="Arama">
                        <button class="btn btn-outline-success" type="submit"> <i
                                class="fa-solid fa-magnifying-glass fs-lg"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="d-flex col row" routerLink="/profile/{{ user.userId }}"  *ngFor="let user of users">

            <div class="col" >
                <div class="card mb-3 ">
                    <div class="row g-0 col h-rea">
                        <div class="col-1" style="width: 75px;">
                    <!-- <img [src]="getUserImagePath(user.)" class="img h-rea rounded-start ">  --> 
                        </div>
                        <div class="col">
                            <div class="card-body mt-2">
                                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body mt-2">
                                <h5 class="card-title">{{user.email}}</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body mt-2">
                                <h5 class="card-title">{{user.userId}}</h5>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body mt-2">
                                <h5 class="card-title">{{user.maxRegisterDate| date:'dd/MM/YYYY'}}</h5>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card-body">
                                <div class="d-grid gap-2 mt-1 mx-auto">
                                    <button class="btn btn-danger" type="button"></button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="pagination justify-content-center ">
        <button class="btn page-btn ms-1" (click)="previousPage()">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <form class="ms-1" (ngSubmit)="setPageNumber(currentPage)"><input type="number" class="form-control set-page"
                id="pageNum" name="pageNum" [(ngModel)]="currentPage">
        </form>
    
    
        <button class="btn page-btn ms-1" (click)="nextPage()">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>

</div>