<div class="sidebar">
    <h3>Yönetim</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/user-management/page/1"><i class="fa-solid fa-users"></i> Üyeleri Yönet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/listing-management/page//1"><i class="fa-solid fa-mountain-city"></i> İlanları Yönet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-exclamation-triangle"></i> Şikayetleri Yönet</a>
        </li>
    </ul>

    <h4 class="mt-1"><i class="fas fa-filter"></i> Filtre</h4>
    <div class="text-white col-10 ms-3">


        <form (ngSubmit)="onSubmit()" (reset)="reset()">
            <div class="form-group">
                <input type="text" id="searchText" class="form-control mb-1" [(ngModel)]="filterObject.searchText"
                    name="searchText" placeholder="Arama">
            </div>
        
            <div class="form-group">
                <input type="text" id="firstName" class="form-control mb-1" [(ngModel)]="filterObject.firstName"
                    name="firstName" placeholder="İsim">
            </div>
        
            <div class="form-group">
                <input type="text" id="lastName" class="form-control mb-1" [(ngModel)]="filterObject.lastName"
                    name="lastName" placeholder="Soyisim">
            </div>
        
            <div class="form-group">
                <input type="email" id="email" class="form-control mb-1" [(ngModel)]="filterObject.email" name="email" placeholder="Email">
            </div>
        
            <div class="form-group">
                <input type="text" id="userId" class="form-control" [(ngModel)]="filterObject.userId" name="userId" placeholder="User ID">
            </div>
        
            <div class="form-group">
                <label for="status">Durum</label>
                <select id="status" class="form-control" [(ngModel)]="filterObject.status" name="status">
                    <option [ngValue]="null">Bütün Kullanıcılar</option>
                    <option [ngValue]="true">Aktif Kullanıcılar</option>
                    <option [ngValue]="false">İnaktif Kullanıcılar</option>
                </select>
                
            </div>
        
            <div class="form-group">
                <label for="roleIds">Roller</label>
                <select id="roleIds" class="form-control" [(ngModel)]="filterObject.roleIds" name="roleIds" multiple>
                    <option *ngFor="let role of roles" [value]="role.id">{{role.name.charAt(0).toUpperCase() +
                        role.name.slice(1).toLowerCase()}}</option>
                </select>

            </div>
        
            <div class="form-group">
                <label for="maxRegisterDate">Min Kayıt Tarihi</label>
                <input type="datetime-local" id="minRegisterDate" class="form-control"
                    [(ngModel)]="filterObject.minRegisterDate" name="minRegisterDate" placeholder="Min Kayıt Tarihi">
            </div>
        
            <div class="form-group">
                <label for="maxRegisterDate">Max Kayıt Tarihi</label>
                <input type="datetime-local" id="maxRegisterDate" class="form-control"
                    [(ngModel)]="filterObject.maxRegisterDate" name="maxRegisterDate" placeholder="Max Kayıt Tarihi">
            </div>
        
            <div class="d-grid gap-2 mt-1 mx-auto">
                <button type="submit" class="btn btn-warning">Filtrele</button>
            </div>
            <div class="d-grid gap-2 mt-1 mx-auto">
                <button type="reset" class="btn btn-danger">Sıfırla</button>
            </div>
        </form>
    </div>
</div>


<div class="content">


    <nav class="navbar bg-rea">
        <div class="container-fluid">
            <h1 class="navbar-brand text-white"><i class="fa-solid fa-users"></i> Üye Yönetim Ekranı</h1>
            <div>
                <h1 *ngIf="filterObject.status==null" class="navbar-brand text-white">Tüm Üyeler ({{userCount}} Adet)
                </h1>
                <h1 *ngIf="filterObject.status==true" class="navbar-brand text-white">Aktif Üyeler ({{activeUserCount}}
                    Adet)</h1>
                <h1 *ngIf="filterObject.status==false" class="navbar-brand text-white">Pasif Üyeler
                    ({{passiveUserCount}} Adet)</h1>
            </div>
            <div class="d-flex me-2">
                <button routerLink="/profile/ilanlarim" type="button" class="btn btn-warning me-2">Profilim</button>
                <button (click)="logout()" type="button" class="btn btn-danger">Çıkış</button>
            </div>
        </div>
    </nav>


    <div class="container-fluid">

        <nav class="navbar">
            <div class="container-fluid">
                <h1 class="navbar-brand text-white"></h1>
                <div class="d-flex me-2">
                    <h6 class="mt-2 me-2">Sıralama</h6>
                    <div class="row">
                        <div class="col">
                            <select class="form-select" [(ngModel)]="selectedSorting" (change)="setSorting()">,
                                <option value="id-0">ID Artan</option>
                                <option value="id-1">ID Azalan </option>
                                <option value="registerDate-0">Eskiden Yeniye</option>
                                <option value="registerDate-1">Yeniden Eskiye</option>
                                <option value="firstname-0">Alfabetik (A'dan Z'ye)</option>
                                <option value="firstname-1">Alfabetik (Z'den A'ya)</option>
                                <option value="email-0">Mail (A'dan Z'ye)</option>
                                <option value="email-1">Mail (Z'den A'ya)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row g-3 mb-2" *ngFor="let user of users">
            <div class="col-12">
                <div class="card h-100"
                    [ngStyle]="{'background-color':user.status === false ? '#f8d7da' : userHasAdminRole(user) ? '#D2F4EA' : 'white'}">
                    <div class="row g-0 align-items-center">
                        <!-- Icon -->
                        <div class="col-auto d-flex align-items-center p-3" routerLink="/profile/{{ user.id }}">
                            <h4><i class="fa-solid fa-eye"></i></h4>
                        </div>
        
                        <!-- Image -->
                        <div class="col-auto d-flex align-items-center p-3">
                            <img [src]="getUserImagePath(user)" class="img-fluid rounded-start" style="max-width: 75px; min-width: 75px; width: 75px;">
                        </div>
        
                        <!-- ID -->
                        <div class="col-auto d-flex align-items-center p-3">
                            <h5 style="min-width: 50px;" class="card-title m-0">{{user.id}}</h5>
                        </div>
        
                        <!-- User Info -->
                        <div class="col d-flex align-items-center">
                            <div class="card-body p-3">
                                <h5 class="card-title">
                                    <i *ngIf="userHasAdminRole(user)" class="fa-solid fa-user-shield"></i>
                                    {{user.firstName}} {{user.lastName}}
                                </h5>
                                <h6 class="card-title"><i class="fa-solid fa-envelope"></i> {{user.email}}</h6>
                            </div>
                        </div>
        
                        <!-- Operation Claims -->
                        <div class="col d-flex align-items-center">
                            <div class="card-body p-3">
                                <h5 class="card-title m-0">
                                    <span *ngFor="let claim of user.operationClaims; let i = index">
                                        {{claim.name.charAt(0).toUpperCase() + claim.name.slice(1).toLowerCase()}}{{i < user.operationClaims.length - 1 ? ', ' : ''}}
                                    </span>
                                </h5>
                            </div>
                        </div>
        
                        <!-- Role Button -->
                        <div class="col-auto d-flex align-items-center p-3">
                            <button class="btn btn-warning" type="button" (click)="setUserRoleId(user.id)"
                                data-bs-toggle="modal" data-bs-target="#editUserRoleModal">
                                <i class="fa-solid fa-user-pen"></i> Rol Ver
                            </button>
                        </div>
        
                        <!-- Register Date -->
                        <div class="col-auto d-flex align-items-center p-3">
                            <h5 class="card-title m-0">{{user.registerDate | date:'dd/MM/YYYY'}}</h5>
                        </div>
        
                        <!-- Action Button -->
                        <div class="col-auto d-flex align-items-center p-3" style="max-width: 200px;" *ngIf="user.status == true">
                            <button class="btn btn-danger " type="button"
                                (click)="setInactiveToUserId(user.id)" data-bs-toggle="modal"
                                data-bs-target="#blockUserModal">
                                <i class="fa-solid fa-user-xmark"></i> Kullanıcıyı Engelle
                            </button>
                        </div>
                        <div class="col-auto d-flex align-items-center p-3" style="max-width: 200px; width: 200px;"  *ngIf="user.status == false">
                            <button class="btn btn-success w-100" type="button"
                                (click)="setActiveToUserId(user.id)" data-bs-toggle="modal"
                                data-bs-target="#unblockUserModal">
                                <i class="fa-solid fa-user-check"></i> Engeli Kaldır
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="pagination justify-content-center ">
        <button class="btn page-btn ms-1" (click)="previousPage()">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <form class="ms-1" (ngSubmit)="setPageNumber(currentPage)"><input type="number" class="form-control set-page"
                id="pageNum" name="pageNum" [(ngModel)]="currentPage">
        </form>


        <button class="btn page-btn ms-1" (click)="nextPage()">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>


    <!-- Rol Düzenle Modal -->
    <div class="modal fade" id="editUserRoleModal" tabindex="-1" aria-labelledby="editUserRoleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserRoleModalLabel">Rol Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{userRoleId}} ID'li kullanıcının rolleri aşağıda gösterilmektedir. Rolleri düzenleyebilir veya yeni roller ekleyebilirsiniz.</p>

                    <div class="d-flex">
                    <div class="form-group col me-2">
                        <label class="mb-2"><strong>Mevcut Roller</strong></label>
                        <ul class="list-group" *ngIf="selectedUserRoles && selectedUserRoles.length > 0; else noRoles">
                            <li class="list-group-item" *ngFor="let role of selectedUserRoles">
                                {{ role.operationClaimName.charAt(0).toUpperCase() + role.operationClaimName.slice(1).toLowerCase() }}
                                <button class="btn btn-danger btn-sm float-end" (click)="deleteRole(role)">Sil</button>
                            </li>
                        </ul>
                        <ng-template #noRoles>
                            <p>Kullanıcının rolü yoktur.</p>
                        </ng-template>
                    </div>
                    
                    <div class="form-group ms-2 col">
                        <label class="mb-2"><strong>Eklenebilir Roller</strong></label>
                        <ul class="list-group" *ngIf="selectedAvailableRoles && selectedAvailableRoles.length > 0; else allRolesAdded">
                            <li class="list-group-item" *ngFor="let role of selectedAvailableRoles">
                                {{ role.name.charAt(0).toUpperCase() + role.name.slice(1).toLowerCase() }}
                                <button class="btn btn-success btn-sm float-end" (click)="addRole(role.id)">Ekle</button>
                            </li>
                        </ul>
                        <ng-template #allRolesAdded>
                            <p>Kullanıcı bütün rollere sahiptir.</p>
                        </ng-template>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getUserByPage(currentPage, usersPerPage)">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Kullanıcıyı Engelle Modal -->
    <div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="blockUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="blockUserModalLabel">Kullanıcıyı Engelle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{activeToUserId}} id'li kullanıcı engellenecektir. Onaylıyor musunuz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-danger" (click)="inactiveUser()">Onayla</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Engeli Kaldır Modal -->
    <div class="modal fade" id="unblockUserModal" tabindex="-1" aria-labelledby="unblockUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unblockUserModalLabel">Engeli Kaldır</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{activeToUserId}} id'li kullanıcının engeli kaldırılacaktır. Onaylıyor musunuz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-info" (click)="activeUser()">Onayla</button>
                </div>
            </div>
        </div>
    </div>

</div>