.bg-color{
    background-color: rgb(43,48,53);
}
.profile-title{
    color: rgb(255, 188, 0);
}
.user-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.aspect-ratio-16x9 {
    aspect-ratio: 16/9;
}
.page-btn{
    background-color: rgb(43, 48, 53);
 color: rgb(255,188,0);
 }
 .sell-col{
    padding-bottom: 5px;
    background: #cc99ff;
}
.rent-col{
    padding-bottom: 5px;
    background: #80dad0;
}
.text-sub{
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all;
}

 