<div class="container col d-flex">
    <div class=" d-flex flex-wrap justify-content-between col-3"
        style="height: max-content; position: sticky; top: 65px; z-index: 1000;">
        <div class="card">
            <div class="card-header">
                Filtrele
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col ">
                        <label for="listingSorting" class="form-label">Sıralama</label>
                        <select class="form-select" [(ngModel)]="selectedSorting" (change)="setSorting()">,
                            <option value="date-1">Yeniden Eskiye</option>
                            <option value="date-0">Eskiden Yeniye</option>
                            <option value="price-0">Artan Fiyat</option>
                            <option value="price-1">Azalan Fiyat</option>
                            <option value="squareMeter-0">Artan Metrekare</option>
                            <option value="squareMeter-1">Azalan Metrekare</option>
                        </select>
                    </div>
                </div>
                <hr>
                <form (ngSubmit)="onSubmit()" (reset)="reset()">
                    <div class="mb-3">
                        <label for="searchText" class="form-label">Arama Metni</label>
                        <input type="text" class="form-control" id="searchText" name="searchText"
                            [(ngModel)]="filterObject.searchText">
                    </div>
                    <div class="row ">
                        <div class=" mb-1">
                            <label for="city" class="form-label">Şehir</label>
                                <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                                    [(ngModel)]="filterObject.cityId">
                                    <option [ngValue]="undefined">Şehir Seçin</option>
                                    <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="district" class="form-label">İlçe</label>
                                <select class="form-select" id="district" name="district"
                                    [(ngModel)]="filterObject.districtId">
                                    <option [ngValue]="undefined">İlçe Seçin</option>
                                    <option *ngFor="let district of districts" [value]="district.id">{{
                                        district.districtName }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="d-flex ">
                            <div class="col mb-3 me-2">
                                <label for="roomCount" class="form-label">Oda Sayısı</label>
                                <input type="number" class="form-control" id="roomCount" name="roomCount" min="0"
                                    [(ngModel)]="filterObject.roomCount">
                            </div>

                            <div class="col mb-2">
                                <label for="livingRoomCount" class="form-label">Salon Sayısı</label>
                                <input type="number" class="form-control" id="livingRoomCount" name="livingRoomCount"
                                    min="0" [(ngModel)]="filterObject.livingRoomCount">
                            </div>
                            <div class="col mb-3 ms-2">
                                <label for="bathroomCount" class="form-label">Banyo Sayısı</label>
                                <input type="number" class="form-control" id="bathroomCount" name="bathroomCount" min="0"
                                    [(ngModel)]="filterObject.bathroomCount">
                            </div>
                        </div>
                        

                    </div>
                    <div class="row">

                        <div class="col mb-3">
                            <label for="listingTypeName" class="form-label">İlan Türü</label>
                            <select class="form-select" id="listingTypeName" name="listingTypeName"
                                [(ngModel)]="filterObject.listingTypeId">
                                <option value="">Seçiniz</option>
                                <option *ngFor="let listingType of listingTypes" value="{{listingType.id}}">
                                    {{listingType.listingTypeName}}</option>

                            </select>
                        </div>
                        <div class="col mb-3">
                            <label for="houseTypeName" class="form-label">Ev Türü</label>
                            <select class="form-select" id="propertyType" name="propertyType"
                                [(ngModel)]="filterObject.houseTypeId">
                                <option value="">Seçiniz</option>
                                <option *ngFor="let houseType of houseTypes" value={{houseType.id}}>{{houseType.name}}
                                </option>

                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col mb-3">
                            <label for="minPrice" class="form-label">Minimum Fiyat</label>
                            <input type="number" class="form-control" id="minPrice" name="minPrice" min="0"
                                [(ngModel)]="filterObject.minPrice">
                        </div>
                        <div class="col mb-3">
                            <label for="maxPrice" class="form-label">Maksimum Fiyat</label>
                            <input type="number" class="form-control" id="maxPrice" name="maxPrice" min="0"
                                [(ngModel)]="filterObject.maxPrice">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="minSquareMeter" class="form-label">Min. Metrekare</label>
                            <input type="number" class="form-control" id="minSquareMeter" name="minSquareMeter" min="0"
                                [(ngModel)]="filterObject.minSquareMeter">
                        </div>
                        <div class="col mb-3">
                            <label for="maxSquareMeter" class="form-label">Maks. Metrekare</label>
                            <input type="number" class="form-control" id="maxSquareMeter" name="maxSquareMeter" min="0"
                                [(ngModel)]="filterObject.maxSquareMeter">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasGarden" name="hasGarden"
                                    [(ngModel)]="filterObject.hasGarden">
                                <label class="form-check-label" for="hasGarden">
                                    Bahçe
                                </label>
                            </div>
                        </div>
                        <div class="col mb-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasElevator" name="hasElevator"
                                    [(ngModel)]="filterObject.hasElevator">
                                <label class="form-check-label" for="hasElevator">
                                    Asansör
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-1">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="hasParking" name="hasParking"
                                    [(ngModel)]="filterObject.hasParking">
                                <label class="form-check-label" for="hasParking">
                                    Otopark
                                </label>
                            </div>
                        </div>
                        <div class="col mb-1">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isInGatedCommunity"
                                    name="isInGatedCommunity" [(ngModel)]="filterObject.isInGatedCommunity">
                                <label class="form-check-label" for="isInGatedCommunity">
                                    Site İçinde
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="hasFurniture"
                                        name="hasFurniture" [(ngModel)]="filterObject.hasFurniture">
                                    <label class="form-check-label" for="hasFurniture">
                                        Mobilya
                                    </label>
                                </div>
                            </div>
                            <div class="col mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="hasBalcony" name="hasBalcony"
                                        [(ngModel)]="filterObject.hasBalcony">
                                    <label class="form-check-label" for="hasBalcony">
                                        Balkon
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-grid"><button type="submit" class="btn btn-primary ">Filtrele</button></div>
                        <div class="col d-grid"><button type="reset" class="btn btn-primary">Sıfırla</button></div>


                    </div>

                </form>
            </div>
        </div>

    </div>

    <div class=" d-flex flex-wrap col-9">
        <div class="card d-flex flex-wrap mb-3 mx-2 rounded-bottom rounded-5 align-self-start" style="width: 19.2rem; "
            *ngFor="let item of houseListings">
            <div routerLink="/houselisting/detail/{{ item.listingId }}">


                <div style="margin-bottom: -16px;">
                    <div *ngIf="item.listingTypeName=='Satılık'"
                        class="pt-3 text-center sell-col rounded-bottom rounded-5 ">
                        <p>{{item.listingTypeName}}</p>
                    </div>
                    <div *ngIf="item.listingTypeName=='Kiralık'"
                        class="pt-3 text-center rent-col rounded-bottom rounded-5">
                        <p>{{item.listingTypeName}}</p>
                    </div>
                    <div *ngIf="item.listingTypeName !=='Kiralık' && item.listingTypeName!=='Satılık'"
                        class="pt-3 text-center bg-color rounded-bottom rounded-5">
                        <p>{{item.listingTypeName}}</p>
                    </div>
                </div>


                <img [src]="getHouseListingImagePath(item)" class="card-img-top  rounded-0 aspect-ratio-16x9" alt="..."
                    style="background-color: rgb(255,255,255);">
                <div class="card-body">
                    <h5 class="card-title text-sub" style="min-height: 3rem; max-height: 3rem;">{{item.title |
                        summary:40 }}</h5>
                    <p class="card-text text-sub" style="min-height: 8rem;max-height: 8rem;">{{item.description |
                        summary:120}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item bg-info bg-opacity-10 border border-info border border-1 border-end-0 border-start-0">
                        <div class="mb-2 col-8 mx-auto">
                            <h5 class="card-title text-center ">
                                <ul class="list-group list-group-horizontal" style="max-height: 3rem;">
                                    <li class="list-group-item border-0 bg-transparent">
                                        <i class="fa-solid fa-bed"></i>
                                        <p>{{item.roomCount}}</p>
                                    </li>
                                    <li class="list-group-item border-0 bg-transparent">
                                        <i class="fa-solid fa-couch"></i>
                                        <p>{{item.livingRoomCount}}</p>
                                    </li>
                                    <li class="list-group-item border-0 bg-transparent">
                                        <i class="fa-solid fa-bath"></i>
                                        <p>{{item.bathroomCount}}</p>
                                    </li>
                                </ul>
                            </h5>
                        </div>
                    </li>
                    <li
                        class="list-group-item bg-info bg-opacity-10 border border-info border border-1 border-end-0 border-start-0 border-top-0 text-center">
                        <h5>
                            {{item.houseTypeName}}
                        </h5>
                    </li>
                    <li
                        class="list-group-item bg-info bg-opacity-10 border border-info border border-1 border-end-0 border-start-0 border-top-0 text-center">
                        <h5>
                            {{item.cityName}}
                            <small class="text-body-secondary">
                                - {{item.districtName}}
                            </small>
                        </h5>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-grid gap-2 col-15 mx-auto">
                        <button routerLink="/listings/detail/{{ item.listingTypeName }}/{{ item.id }}"
                            class="btn btn-info btn-lg" type="button">{{ item.price | priceFormat }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination justify-content-center ">
    <button class="btn page-btn ms-1" (click)="previousPage()">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <form class="ms-1" (ngSubmit)="setPageNumber(currentPage)"><input type="number" class="form-control set-page"
            id="pageNum" name="pageNum" [(ngModel)]="currentPage">
    </form>


    <button class="btn page-btn ms-1" (click)="nextPage()">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
</div>