<div class="container">
  <div *ngIf="houseDetail != null" class="row align-items-start">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between"><input type="text" class="form-control me-5"
            [(ngModel)]="updateHouseListing.title" name="title" required>
          <small class=" text-end  opacity-50">{{
            houseDetail.listingId }}</small>
        </h5>

      </div>
    </div>

    <div class="col">

      <div class="container d-flex flex-wrap ">
        <div *ngIf="imageListing.data.length>0" id="carouselExampleRide" class="carousel slide slide-div mb-3 "
          data-bs-ride="true">
          <div class="carousel-inner ">
            <div class="carousel-item " *ngFor="let image of imageListing.data; let isFirst = first"
              [ngClass]="{ 'active': isFirst }">
              <img [src]="getHouseListingImagePath(image)" class="d-block w-100 slide-style ">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bxs-target="#carouselExampleRide"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
          </button>
        </div>
      </div>

      <div class="container d-flex flex-wrap">
        <div *ngIf="imageListing.data.length<=0" id="carouselExampleAutoplaying" class="carousel slide slide-div mb-3"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/defaultHouse.png" class="d-block w-100 slide-style-default" alt="...">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="imageListing.data.length>0" class="container d-flex flex-wrap slide-bottom-div " #imageContainer>
        <button (click)="previous()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-left"></i></button>

        <ng-container *ngFor="let image of imageListing.data.slice(startIndex,endIndex); let i = index">
          <img [src]="getHouseListingImagePath(image)" class="d-block border-end border-start slide-bottom"
            (click)="showImageInCarousel(i)">
        </ng-container>

        <button (click)="next()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-right"></i></button>
      </div>


      <div class="container  mt-2 padding-down">
        <div class="row user-card">
          <div class="col-14">
            <p class="ilan">İlan Sahibi</p>
          </div>
          <div class="col-3 mb-3 ms-3">
            <img *ngIf="userImg.length>0" [src]="getUserImagePath(userImg[0])" class="user-image">
            <img *ngIf="userImg.length<=0" src="../../../assets/img/user.png" class="user-image">
          </div>
          <div class="col-8">
            <div class="user-details">
              <h3 class="user-name">{{houseDetail.firstName}} {{houseDetail.lastName}}</h3>
              <p class="user-email">{{houseDetail.userEmail}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class=" d-flex justify-content-center align-items-center">
        <button class="btn btn-success w-75" (click)="updateHouse()">İlanı güncelle</button>
      </div>
    </div>

    <div class="col">
      <div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              İlan Bilgileri
              <small class="float-end">{{ houseDetail.date | date:'dd/MM/YYYY' }}</small>
            </h5>
            <ul class="list-group list-group-flush">
              <div class="price mt-3">
                <li class="list-group-item">
                  <input type="number" class="form-control price" [(ngModel)]="updateHouseListing.price" name="price"
                    required>
                </li>
              </div>

              <div>
                <li class="list-group-item border border-0 d-flex justify-content-between">
                  <h4>
                    <label for="">İlan Tipi</label>
                    <select class="form-select" id="listingTypeId" name="listingTypeId"
                      [(ngModel)]="updateHouseListing.listingTypeId">

                      <option value="0">Seçiniz</option>
                      <option *ngFor="let listingType of listingTypes" value="{{listingType.id}}">
                        {{listingType.listingTypeName}}</option>
                    </select>
                  </h4>
                  <h5>
                    <label for="">Ev Tipi</label>

                    <select class="form-select" id="typeId" name="typeId" [(ngModel)]="updateHouseListing.typeId">
                      <option value="0">Seçiniz</option>
                      <option *ngFor="let houseType of houseTypes" value={{houseType.id}}>{{houseType.name}}</option>
                    </select>
                  </h5>

                  <h5>
                    <label for="">Şehir Seçiniz</label>
                    <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                      [(ngModel)]="updateHouseListing.cityId">
                      <option value="0">Şehir Seçin</option>
                      <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                    </select><br>

                    <small class="text-body-secondary">
                      <label for="">İlçe Seçiniz</label>
                      <select class="form-select" id="district" name="district"
                        [(ngModel)]="updateHouseListing.districtId">
                        <option value=0>İlçe Seçiniz</option>
                        <option *ngFor="let district of districts" [value]="district.id">{{
                          district.districtName }}</option>
                      </select></small>
                  </h5>
                </li>
              </div>
              <div class="card mb-2 border border-0 ">
                <div class="card-body">
                  <h5 class="card-title"><textarea class="form-control" [(ngModel)]="updateHouseListing.description"
                      name="description" required></textarea></h5>
                </div>
              </div>
              <div class="d-flex  count-li text-center">
                <div class="col ">
                  <li class="list-group-item border border-0 "><i class="fa-solid fa-bed"></i> <br>
                    <p> <input type="number" class="form-control" [(ngModel)]="updateHouseListing.roomCount"
                        name="roomCount" min="0" required></p>
                  </li>
                </div>
                <div class="col">
                  <li class="list-group-item border border-0"><i class="fa-solid fa-couch"></i> <br>
                    <p><input type="number" class="form-control" [(ngModel)]="updateHouseListing.livingRoomCount"
                        name="livingRoomCount" min="0" required></p>
                </div>
                <div class="col">
                  <li class="list-group-item border border-0"><i class="fa-solid fa-bath"></i> <br>
                    <p><input type="number" class="form-control" [(ngModel)]="updateHouseListing.bathroomCount"
                        name="bathroomCount" min="0" required></p>
                  </li>
                </div>
                <div class="col">
                  <li class="list-group-item border border-0"><i class="fa-solid fa-maximize"></i> <br>
                    <p><input type="number" class="form-control" [(ngModel)]="updateHouseListing.squareMeter"
                        name="squareMeter" min="0" required>m²</p>
                  </li>
                </div>
              </div>

              <div class="d-flex">
                <div class="col">
                  <li class="list-group-item">Kaç Katlı: <input type="number" class="form-control"
                      [(ngModel)]="updateHouseListing.floorCount" name="floorCount" min="0" required> </li>
                </div>
                <div class="col">
                  <li class="list-group-item">Bulunduğu Kat: <input type="number" class="form-control"
                      [(ngModel)]="updateHouseListing.currentFloor" name="currentFloor" min="0" required></li>
                </div>
                <div class="col">
                  <li class="list-group-item">Yapı Yaşı: <input type="number" class="form-control"
                      [(ngModel)]="updateHouseListing.buildingAge" name="buildingAge" min="0" required></li>
                </div>
              </div>

              <div class="d-flex">
                <div class="col">
                  <li class="list-group-item">Bahçeli: <i>
                      <input type="checkbox" class="form-check-input" [(ngModel)]="updateHouseListing.hasGarden"
                        name="hasGarden"></i>
                  </li>
                  <li class="list-group-item">Balkonlu: <i>
                      <input type="checkbox" class="form-check-input" [(ngModel)]="updateHouseListing.hasBalcony"
                        name="hasBalcony">
                    </i>
                  </li>
                  <li class="list-group-item">Asansörlü: <i> <input type="checkbox" class="form-check-input"
                        [(ngModel)]="updateHouseListing.hasElevator" name="hasElevator"></i>
                  </li>
                </div>
                <div class="col">
                  <li class="list-group-item">Park Alanı: <i> <input type="checkbox" class="form-check-input"
                        [(ngModel)]="updateHouseListing.hasParking" name="hasParking"></i>
                  </li>
                  <li class="list-group-item">Mobilyalı: <i> <input type="checkbox" class="form-check-input"
                        [(ngModel)]="updateHouseListing.hasFurniture" name="hasFurniture"></i>
                  </li>
                  <li class="list-group-item">Site İçinde: <i> <input type="checkbox" class="form-check-input"
                        [(ngModel)]="updateHouseListing.isInGatedCommunity" name="isInGatedCommunity"></i>
                  </li>
                </div>
              </div>
              <li class="list-group-item"><strong>Adres:</strong> <textarea type="text" class="form-control"
                  [(ngModel)]="updateHouseListing.address" name="address" required></textarea>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div *ngIf="landDetail != null" class="row align-items-start">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between"><input type="text" class="form-control me-5"
            [(ngModel)]="updateLandListing.title" name="title" required> <small class=" text-end  opacity-50">{{
            landDetail.listingId }}</small></h5>

      </div>
    </div>

    <div class="col">

      <div class="container d-flex flex-wrap ">
        <div *ngIf="imageListing.data.length>0" id="carouselExampleRide" class="carousel slide slide-div mb-3 "
          data-bs-ride="true">
          <div class="carousel-inner ">
            <div class="carousel-item " *ngFor="let image of imageListing.data; let isFirst = first"
              [ngClass]="{ 'active': isFirst }">
              <img [src]="getHouseListingImagePath(image)" class="d-block w-100 slide-style ">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bxs-target="#carouselExampleRide"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
          </button>
        </div>
      </div>

      <div class="container d-flex flex-wrap">
        <div *ngIf="imageListing.data.length<=0" id="carouselExampleAutoplaying" class="carousel slide slide-div mb-3"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/defaultHouse.png" class="d-block w-100 slide-style-default" alt="...">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="imageListing.data.length>0" class="container d-flex flex-wrap slide-bottom-div " #imageContainer>
        <button (click)="previous()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-left"></i></button>

        <ng-container *ngFor="let image of imageListing.data.slice(startIndex,endIndex); let i = index">
          <img [src]="getHouseListingImagePath(image)" class="d-block border-end border-start slide-bottom"
            (click)="showImageInCarousel(i)">
        </ng-container>

        <button (click)="next()" class="slide-bottom-btn"><i class="fa-solid fa-chevron-right"></i></button>
      </div>


      <div class="container  mt-2 padding-down">
        <div class="row user-card">
          <div class="col-14">
            <p class="ilan">İlan Sahibi</p>
          </div>
          <div class="col-3 mb-3 ms-3">
            <img *ngIf="userImg.length>0" [src]="getUserImagePath(userImg[0])" class="user-image">
            <img *ngIf="userImg.length<=0" src="../../../assets/img/user.png" class="user-image">
          </div>
          <div class="col-8">
            <div class="user-details">
              <h3 class="user-name">{{landDetail.firstName}} {{landDetail.lastName}}</h3>
              <p class="user-email">{{landDetail.userEmail}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" d-flex justify-content-center align-items-center">
        <button class="btn btn-success w-75" (click)="updateLand()">İlanı güncelle</button>
      </div>
    </div>

    <div class="col">
      <div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              İlan Bilgileri
              <small class="float-end">{{ landDetail.date | date:'dd/MM/YYYY' }}</small>
            </h5>
            <ul class="list-group list-group-flush">
              <div class="price mt-3">
                <li class="list-group-item"><input type="number" class="form-control price"
                    [(ngModel)]="updateLandListing.price" name="price" required></li>
              </div>

              <div>
                <li class="list-group-item border border-0 d-flex justify-content-between">
                  <h4><label for="">İlan Tipi</label>
                    <select class="form-select" id="listingTypeId" name="listingTypeId"
                      [(ngModel)]="updateLandListing.listingTypeId">

                      <option value="0">Seçiniz</option>
                      <option *ngFor="let listingType of listingTypes" value="{{listingType.id}}">
                        {{listingType.listingTypeName}}</option>
                    </select>
                  </h4>
                  <h5>
                    <label for="">Şehir Seçiniz</label>
                    <select class="form-select" id="city" name="city" (change)="onCityChange($event)"
                      [(ngModel)]="updateLandListing.cityId">
                      <option value="0">Şehir Seçin</option>
                      <option *ngFor="let city of city" [value]="city.id">{{ city.cityName }}</option>
                    </select><br>

                    <small class="text-body-secondary">
                      <label for="">İlçe Seçiniz</label>
                      <select class="form-select" id="district" name="district"
                        [(ngModel)]="updateLandListing.districtId">
                        <option value=0>İlçe Seçiniz</option>
                        <option *ngFor="let district of districts" [value]="district.id">{{
                          district.districtName }}</option>
                      </select></small>
                  </h5>
                </li>
              </div>
              <div class="card mb-2 border border-0 ">
                <div class="card-body">
                  <h5 class="card-title"><textarea class="form-control" [(ngModel)]="updateLandListing.description"
                      name="description" required></textarea></h5>
                </div>
              </div>
              <div class="d-flex  count-li text-center">
                <div class="col">
                  <div class="col ">
                    <li class="list-group-item border border-0 ">Parsel No: <br>
                      <p><input type="number" class="form-control" [(ngModel)]="updateLandListing.parcelNo"
                          name="roomCount" min="0" required></p>
                    </li>
                  </div>
                  <div class="col">
                    <li class="list-group-item border border-0">Ada No:<br>
                      <p><input type="number" class="form-control" [(ngModel)]="updateLandListing.islandNo"
                          name="roomCount" min="0" required></p>
                  </div>
                </div>

                <div class="col">
                  <div class="col">
                    <li class="list-group-item border border-0">Pafta No: <br>
                      <p><input type="number" class="form-control" [(ngModel)]="updateLandListing.sheetNo"
                          name="roomCount" min="0" required></p>
                    </li>
                  </div>
                  <div class="col">
                    <li class="list-group-item border border-0">Boyut: <br>
                      <p><input type="number" class="form-control" [(ngModel)]="updateLandListing.squareMeter"
                          name="roomCount" min="0" required>m²</p>
                    </li>
                  </div>
                </div>
              </div>
              <li class="list-group-item">Kat Karşılığı: <i> <input type="checkbox" class="form-check-input"
                    [(ngModel)]="updateLandListing.floorEquivalent" name="floorEquivalent"></i>
              </li>
              <li class="list-group-item"><strong>Adres:</strong> <textarea type="text" class="form-control me-5"
                  [(ngModel)]="updateLandListing.address" name="title" required></textarea> </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>